langchain
langchain_community
langchain-text-splitters
langchain-together
openai
streamlit
python-dotenv
sentence-transformers
unstructured[pdf]
pypdf
nltk>=3.8.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability